body{
    font-family: 'Amiko', sans-serif;
  }
  
  .content{
      margin-top: 100px;
      margin-bottom: 50px;
  }
  
  #mainNavbar{
      background: #3C0038;
      font-size: 1.5rem;
      font-weight: 100;
  }
  
  #mainNavbar .nav-link{
      color: #74A393;
  }
  
  #mainNavbar .nav-link:hover{
      color: white;
  }
  
  #mainNavbar .navbar-brand{
     color:  white;
     font-size: 1.5rem;
  }
  #header{
      background:url(https://images.unsplash.com/photo-1506321806993-0e39f809ae59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80) center center / cover no-repeat;
     /* Imagen opcional de fondo: https://images.unsplash.com/photo-1506321806993-0e39f809ae59?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80
     opcional 2: https://images.unsplash.com/photo-1551096052-fa4be61340c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=676&q=80 esta fue la que mas gusto, recordar usarla...
opcion original.. fea...     https://images.unsplash.com/photo-1523961738618-3c1dde78b4c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=972&q=80
     */
    
      padding-top: 8%;
      padding-bottom: 5%;
    }
  
  #specialCard p{
      font-weight: 100;
      font-size: 1.5rem;
      color: white;
  }
  
  #specialCard h1{
    font-family: 'Quattrocento', serif;
    font-weight: 100;
    font-size: 4rem;
    color: white;
  }
  
  #specialCard footer{
    color: white;
  }
  
  .card { background-color:rgba(94, 63, 94, 0.8); }
  .card-header, .card-footer { opacity: 1}
  
  #firma span{
    font-family: 'Pacifico', cursive;
  }
  
  /* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {  
  h1 {font-size:1.5rem;} /*1rem = 16px*/
}
