body{
    font-family: 'Amiko', sans-serif;
  }
  
  .content{
      margin-top: 100px;
      margin-bottom: 50px;
  }
  
  #mainNavbar{
      background: #3C0038;
      font-size: 1.5rem;
      font-weight: 100;
  }
  
  #mainNavbar .nav-link{
      color: #74A393;
  }
  
  #mainNavbar .nav-link:hover{
      color: white;
  }
  
  #mainNavbar .navbar-brand{
     color:  white;
     font-size: 1.5rem;
  }
  #header{
      background:url(https://images.unsplash.com/photo-1478031706604-bb4b7b0b4e9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80) center center / cover no-repeat;

      padding-top: 8%;
      padding-bottom: 5%;
    }
  
  #specialCard p{
      font-weight: 100;
      font-size: 1.5rem;
      color: black;
  }
  
  #specialCard h1{
    font-family: 'Quattrocento', serif;
    font-weight: 100;
    font-size: 4rem;
    color: black;
  }
  
  #specialCard footer{
    color: black;
  }
  
  .card { background-color:rgba(255, 255, 255, 0.7); }
  .card-header, .card-footer { opacity: 1}
  
  /* Small devices (landscape phones, 544px and up) */
  @media (min-width: 544px) {  
    h1 {font-size:1.5rem;} /*1rem = 16px*/
  }
  