.form-group{
    margin-right: 30%;
    margin-left: 5%;
    margin-top: 2%;

}

form button{
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 8%;

}

.mensajeError{
    font-size:1.5em;
    color: #d63031;
}
