#jumbo-play{
  background-color: #181818 !important;
}

#player-min{
  background-color: transparent !important;
  width: 80%;
  margin-right: 10%;
  margin-left: 3%;
}

#jumbo-play audio{
  width: 90%;
  margin-top: 1.5%;
  height: auto;
  color:white;
}

#jumbo-play h1{
  color:white;
}

#jumbo-play p{
  color: white;
}

#player-min audio{
  width: 50%;
  margin-top: 0.5%;
  height: auto;
}
